.text-center{
    color : #ffffff;
    
}
.card-box {
    margin-top: 5px;
    box-shadow: 4px 5px 7px 1px rgb(0 0 0 / 60%);
    margin-bottom: 30px;
    border-bottom-right-radius: 15px;
}
.port{
    background-color:#7483ff;
    height: 75px;
    
}
.card-login {
    margin: 20px;
}

body{
    background-image: url(../../IMG/215102445-fondo-de-vector-degradado-azul-vista-submarina-del-océano-abstracto-cerca-de-la-superficie-diseño-de.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #ff0000;
}

.my-button {
    padding: 10px 20px;
    background-color: #4655db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .my-button:hover {
    background-color: #7483ff;
  }
  .my-button:active {
    background-color: #4655db;
  }
  
label{
    color: rgb(87, 87, 87);
}
h3{
    font-weight:590;
    top:0px;
  position: relative;
  top: 20px;
  font-size: 29px;
}